<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install" version="19.0" />
  <package id="agentransack" version="8.0.867.0" />
  <package id="authy-desktop" version="1.7.0" />
  <package id="autohotkey.portable" version="1.1.30.01" />
  <package id="axcrypt" version="2.1.1573.0" />
  <package id="ccleaner" version="5.54.7088" />
  <package id="chocolatey" version="0.10.11" />
  <package id="chocolateygui" version="0.16.0" />
  <package id="Cmder" version="1.3.11" />
  <package id="dashlane" version="6.1907.0.17833" />
  <package id="dropbox" version="67.4.83" />
  <package id="Everything" version="1.4.1935" />
  <package id="filezilla" version="3.40.0" />
  <package id="Firefox" version="65.0.2" />
  <package id="google-backup-and-sync" version="3.43.2448.9071" />
  <package id="GoogleChrome" version="72.0.3626.121" />
  <package id="GPMDP" version="4.6.1" />
  <package id="handbrake" version="1.2.2" />
  <package id="handbrake.install" version="1.2.2" />
  <package id="lightshot" version="5.4.0.36" />
  <package id="lightshot.install" version="5.4.0.36" />
  <package id="notepadplusplus" version="7.6.3" />
  <package id="notepadplusplus.install" version="7.6.3" />
  <package id="slack" version="3.3.7" />
  <package id="speccy" version="1.32.740" />
  <package id="steam" version="3.0.1.20190215" />
  <package id="teamviewer" version="14.1.18533" />
  <package id="telegram.install" version="1.5.15" />
  <package id="teracopy" version="3.26.2" />
  <package id="treesizefree" version="4.3.1.1" />
  <package id="winaero-tweaker" version="0.12.1.0" />
  <package id="zerotier-one" version="1.2.12" />
</packages>