<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="authy-desktop" version="1.7.0" />
  <package id="axcrypt" version="2.1.1573.0" />
  <package id="dropbox" version="67.4.83" />
  <package id="gpg4win" version="3.1.5" />
  <package id="GPMDP" version="4.6.1" />
  <package id="handbrake" version="1.2.2" />
  <package id="handbrake.install" version="1.2.2" />
  <package id="keyfinder" version="2.0.10.13" />
  <package id="speccy" version="1.32.740" />
  <package id="steam" version="3.0.1.20190215" />
  <package id="teamviewer" version="14.1.18533" />
  <package id="telegram.install" version="1.5.15" />
  <package id="teracopy" version="3.26.2" />
  <package id="visualstudio2017-installer" version="1.0.2" />
  <package id="visualstudio2017professional" version="15.9.7.0" />
  <package id="winaero-tweaker" version="0.12.1.0" />
  <package id="winscp.install" version="5.13.8" />
  <package id="zerotier-one" version="1.2.12" />
</packages>