<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="sql-server-management-studio" version="14.0.17289.1" />
	<package id="ssdt15" version="14.0.61712.20180510" />
  	<package id="visualstudio2017-installer" version="1.0.2" />
	<package id="visualstudio2017professional" version="15.9.7.0" />
	<package id="VisualStudio2015Professional" version="2015.03.03" />


</packages>